<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>CFBundleName</key><string>U1 OS</string><key>CFBundleDisplayName</key><string>U1 OS</string><key>CFBundleIdentifier</key><string>local.u1os.launcher</string><key>CFBundleExecutable</key><string>U1-OS</string><key>CFBundlePackageType</key><string>APPL</string><key>CFBundleVersion</key><string>1</string><key>LSUIElement</key><true/></dict></plist>
